@use "test";

.menu--top-balance {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // background-color: chartreuse;
}

.menu--container {
  // background-color: blue;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.menu--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  border: 5px solid var(--color-e-g);
  background-color: var(--color-e-b);
  color: var(--color-e-p);
  text-shadow: 0.5px 0.5px rgb(0, 0, 0);
  font-family: var(--font-header);
  font-size: 1.75rem;
}

.navigation--shell {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  width: 150px;
  height: 150px;
  background-color: pink;
}
.nav--frame {
}
.key {
}
.keyway {
}
